.rest__results-info {
    margin-bottom: 10px;
}

.MuiSvgIcon-root .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.MuiSvgIcon-root:hover {
    background-color: aqua;
    box-shadow: 0 0 12px 0 rgba(69, 68, 68, 0.1);
}


/* Tooltip container */