.app__container-header {
    min-height: 150px;
    max-height: 150px;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.site__header {
    background-color: #e1e1e0;
    border-bottom: 1px solid #c6c6c6
}

.search {
    position: relative;
    width: 100%;
    border-radius: 30px;
    border: 1px solid black;
    padding: 0.9em;
    margin-bottom: 20px;
    ;
}

.search input {
    text-indent: 30px;
}